* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.newsContainer {
  /* color: white; */
  display: block;
}

body {
  transition: all 0.5s ease-in;
  background-color: rgb(31 41 55);
}
.badge {
  position: absolute;
}

.form-check-input:checked {
  background-color: rgb(49, 49, 49);
}

.lgog {
  padding: 5px 0.5rem 1px 0.5rem;
  border-radius: 50000000px;
}
@media only screen and (min-width: 500px) {
  .newsContainer {
    display: block;
  }
}
@media only screen and (min-width: 680px) {
  .newsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 880px) {
  .newsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
