* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.newsContainer {
  display: block;
  grid-template-columns: repeat(3, 1fr);
}
.spinner {
  grid-column-start: 2;
}
.hidden {
  display: none;
}

@media only screen and (min-width: 500px) {
  .newsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 780px) {
  .newsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
